.home {
    height: 100vh;
    background-color: #F6F8FA;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-search-container {
    margin: auto;
}