.repositories {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.repositories-header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
}

.repositories-number {
    font-size: 0.8rem;
    color: #666666;
}

.repositories-title {
    font-weight: 400;
    margin-bottom: 1rem;
}

.repositories-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.repositories-pagination-button {
    font-size: 1.5rem;
    cursor: pointer;
}

.repositories-pagination-button:active {
    transform: scale(0.9);
}
